<a href="https://colab.research.google.com/github/reznimat/ppzd/blob/main/2cv_zadani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. cvičení

Úkoly:

1.   Podmínka if - podle hodnoty proměnné x vypište informaci, jestli je větší nebo menší než číslo 5.
2.   Vytvořte pole s křestními jmény některých Vašich spolužáků.
3.   Vypište toto pole v podobě: **můj spolužák se jmenuje *Honza***
4.   Seřaďte pole podle abecedy a opět vypište.
5.   Vypište všechna sudá čísla od 2 do 100. (Nápověda: 2, 4 ... 100)
6.   Vypište všechna prvočísla od 2 do 100. Definice prvočísel viz Google.

# 1.   Podmínka if
podle hodnoty proměnné x vypište informaci, jestli je větší nebo menší než číslo 5.

In [ ]:
# Podmínka if - podle hodnoty proměnné x vypište informaci, jestli je větší nebo menší než číslo 5.

x = float(input('Zadejte číslo x: '))

if x > 5:
  print('x je větší něž 5')
elif x < 5:
  print ('x je menší než 5')
else:
  print ('x je rovno 5')

Zadejte číslo x: 5
x je rovno 5

#  2.   Pole s křestními jmény

In [ ]:
# Vytvořte pole s křestními jmény některých Vašich spolužáků.
seznamSpoluzaku =['Lenka', 'Zdeňka', 'Markéta', 'Niki', 'Láďa', 'Andrea']

print(seznamSpoluzaku)

['Lenka', 'Zdeňka', 'Markéta', 'Niki', 'Láďa', 'Andrea']

# 3.   Vypište pole v podobě: **můj spolužák se jmenuje *Honza***

In [ ]:
# Vypište toto pole v podobě: můj spolužák se jmenuje Honza

seznamSpoluzaku =['Lenka', 'Zdeňka', 'Markéta', 'Niki', 'Láďa', 'Andrea']

for x in seznamSpoluzaku:
  print('Můj spolužák se jmenuje '+ x)

Můj spolužák se jmenuje Lenka
Můj spolužák se jmenuje Zdeňka
Můj spolužák se jmenuje Markéta
Můj spolužák se jmenuje Niki
Můj spolužák se jmenuje Láďa
Můj spolužák se jmenuje Andrea

# 4.   Seřaďte pole podle abecedy.

In [ ]:
seznamSpoluzaku =['Lenka', 'Zdeňka', 'Markéta', 'Niki', 'Láďa']

seznamSpoluzaku.sort()

print(seznamSpoluzaku)

['Lenka', 'Láďa', 'Markéta', 'Niki', 'Zdeňka']

# 5. Vypište všechna sudá čísla od 2 do 100.
(Nápověda: 2, 4 ... 100)

In [ ]:
# while cyklus
x = 2
while x <= 100:
  print(x)
  x += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# range + modulo

for x in range(1,101): #proč je interval <1;101) ? :-o
  if x%2 == 0:
    print(x)
  else: continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# range, step 2

for x in range(2,101,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 6. Vypište všechna prvočísla od 2 do 100.
Definice prvočísel viz Google.

In [ ]:
# Vypište všechna prvočísla od 2 do 100. Definice prvočísel viz Google.

#for x in range (2,101):
#    print(x);

x = 6 # definice x
y = [2,3,4,5,6,7,8,9] # definice dělitelů

for z in y:
  if z < x: # pokud je dělitel menší než x
    mod_z = x%z #modulo
    print(mod_z)

# pokud v souboru mod_z není nula vypiš x

# asi slepá ulička

0
0
2
1

In [77]:
# podle řešení

for x in range (2,101): # rozsah x <2,101)
  prvocislo = True # pro každé čílso z rozsahu přiřadím atributu prvocislo defautlní hdonotu True

#  print(x,prvocislo)
#  continue

  for y in range (2,x): # definice delitelů - rozsah <2,x)
    if (x % y == 0): # pokud je zbytek po dělení x daným dělitelem y roven 0
      prvocislo = False # prirad u daneho cisla atributu prvocislo hodnotu False
      break # a ukonci cyklus a vrátí se k předchozímu for?

#  print(x,prvocislo)
#  continue

  if prvocislo == True: # pokud je atribut prvocislo = True
      print(x) # vypiš x

2 True
3 True
4 False
5 True
6 False
7 True
8 False
9 False
10 False
11 True
12 False
13 True
14 False
15 False
16 False
17 True
18 False
19 True
20 False
21 False
22 False
23 True
24 False
25 False
26 False
27 False
28 False
29 True
30 False
31 True
32 False
33 False
34 False
35 False
36 False
37 True
38 False
39 False
40 False
41 True
42 False
43 True
44 False
45 False
46 False
47 True
48 False
49 False
50 False
51 False
52 False
53 True
54 False
55 False
56 False
57 False
58 False
59 True
60 False
61 True
62 False
63 False
64 False
65 False
66 False
67 True
68 False
69 False
70 False
71 True
72 False
73 True
74 False
75 False
76 False
77 False
78 False
79 True
80 False
81 False
82 False
83 True
84 False
85 False
86 False
87 False
88 False
89 True
90 False
91 False
92 False
93 False
94 False
95 False
96 False
97 True
98 False
99 False
100 False