<a href="https://colab.research.google.com/github/reznimat/ppzd/blob/main/3cv_zadani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 🙇 Úlohy pro studenty ##

Látku můžete procvičit splněním následujících úloh.

<u>**Větvení, cykly, modulo**</u>

**a)** Využitím cyklu FOR projděte rozsah čísel od 2200 do 2300 s krokem 5 a uvnitř cyklu testujte s využitím modulo, zda je číslo sudé či liché. Tuto informaci vždy vypište ve tvaru např. "Číslo 2200 je sudé", "Číslo 2205 je liché" atd.

**b)** Vytvořte proměnnou *maximum* s číselnou hodnotou 1000 a proměnnou *alfa* s hodnotou 1. Dále vytvořte WHILE cyklus, který bude prováděn, dokud je *alfa* menší či rovna maximu. V rámci cyklu proveďte následující:
- pokud je *alfa* dělitelná čtyřmi beze zbytku, tak k ní připočtěte 3 a pokračujte další iterací (tj. *continue*).
- pokud neplatí, ale *alfa* je dělitelná třemi beze zbytku, ale není dělitelná šesti beze zbytku, tak k ní přičtěte 5.
- pokud neplatí, ale *alfa* je dělitelná šesti beze zbytku a menší než 300, tak jí vynásobte 1.5.
- pokud neplatí, ale *alfa* je z rozsahu <100;500>, tak jí umocněte na druhou.
- pokud neplatí nic z předchozího, tak k *alfa* přičtěte 1.
- Za provedenou podmínkou číslo vypište ve tvaru: "Aktuální číslo je: XX". (pozn.: pokud je tedy číslo dělitelné čtyřmi, tak nebude vypsáno).

Program vypíše tato čísla: 2, 3, 8, 12, 20, 24, 32, 36, 44, 48, 56, 60, 68, 72, 80, 84, 92, 96, 104, 11449.

<u>**Funkce a datové typy**</u>

**c)** Vytvořte funkci pro výpočet obvodu obdélníka. Funkce má dva vstupní parametry a vrací vypočítanou hodnotu. Pokud je kterýkoliv parametr záporný, tak funkce vrací *None*. Pokud je funkce volána jen s jedním parametrem, tak se jedná o čtverec a funkce vrátí správný výsledek.

**d)** Vytvořte pole, jehož jednotlivé položky budou slovníky s číselnými hodnotami pro X a Y, a naplňte ho alespoň pěti položkami. Dané pole projděte cyklem FOR a nad jednotlivými položkami volejte funkci pro výpočet obvodu obdélníka (z předchozího kroku). Získaný obvod vypište, nebo vypište informaci, že obvod nemohl být vypočítán.

**e)** Využijte *set* (množinu unikátních hodnot), abyste z následujícího pole dat získali jen unikátní hodnoty (tj. bez opakování), a vypište unikátní hodnoty a informaci, kolik záznamů bylo "odstraněno".
```
data = ["oplatka","motorka","strom","strom","strom","jablko","oplatka","motorka","strom","hrom","oplatka"]
```

**f)** Projděte následující pole dat, určete stáří zvířat v roce 2020 a vypište nejmenší, největší a průměrný věk zvířat (pozor, narození je u zvířete uloženo jako textový řetězec).
```
zvirata = [
  {"jmeno": "lev", "narozen": "2016"},
  {"jmeno": "labuť", "narozen": "2017"},
  {"jmeno": "velbloud", "narozen": "2017"},
  {"jmeno": "rys", "narozen": "2019"},
  {"jmeno": "liška", "narozen": "2018"},
  {"jmeno": "tchoř", "narozen": "2017"},
  {"jmeno": "tučňák", "narozen": "2014"},
  {"jmeno": "straka", "narozen": "2015"},
]
```

# Větvení, cykly, modulo

## Cyklus FOR

a) Využitím cyklu FOR projděte rozsah čísel od 2200 do 2300 s krokem 5 a uvnitř cyklu testujte s využitím modulo, zda je číslo sudé či liché. Tuto informaci vždy vypište ve tvaru např. "Číslo 2200 je sudé", "Číslo 2205 je liché" atd.

In [ ]:
for x in range(2200,2305,5):
    if x%2 == 0:
      print('Číslo ' + str(x) + ' je sudé.')
    else:
      print('Číslo ' + str(x) + ' je liché.')

Číslo 2200 je sudé.
Číslo 2205 je liché.
Číslo 2210 je sudé.
Číslo 2215 je liché.
Číslo 2220 je sudé.
Číslo 2225 je liché.
Číslo 2230 je sudé.
Číslo 2235 je liché.
Číslo 2240 je sudé.
Číslo 2245 je liché.
Číslo 2250 je sudé.
Číslo 2255 je liché.
Číslo 2260 je sudé.
Číslo 2265 je liché.
Číslo 2270 je sudé.
Číslo 2275 je liché.
Číslo 2280 je sudé.
Číslo 2285 je liché.
Číslo 2290 je sudé.
Číslo 2295 je liché.
Číslo 2300 je sudé.

## Cyklus WHILE

Vytvořte proměnnou maximum s číselnou hodnotou 1000 a proměnnou alfa s hodnotou 1. Dále vytvořte WHILE cyklus, který bude prováděn, dokud je alfa menší či rovna maximu. V rámci cyklu proveďte následující:

*    pokud je alfa dělitelná čtyřmi beze zbytku, tak k ní připočtěte 3 a pokračujte další iterací (tj. continue).
*    pokud neplatí, ale alfa je dělitelná třemi beze zbytku, ale není dělitelná šesti beze zbytku, tak k ní přičtěte 5.
*    pokud neplatí, ale alfa je dělitelná šesti beze zbytku a menší než 300, tak jí vynásobte 1.5.
*    pokud neplatí, ale alfa je z rozsahu <100;500>, tak jí umocněte na druhou.
*    pokud neplatí nic z předchozího, tak k alfa přičtěte 1.
*    Za provedenou podmínkou číslo vypište ve tvaru: "Aktuální číslo je: XX". (pozn.: pokud je tedy číslo dělitelné čtyřmi, tak nebude vypsáno).

Program vypíše tato čísla: 2, 3, 8, 12, 20, 24, 32, 36, 44, 48, 56, 60, 68, 72, 80, 84, 92, 96, 104, 11449.

In [ ]:
maximum = 1000
alfa = 1

while alfa <= maximum:
    if (alfa % 4) == 0: #pokud je alfa dělitelná čtyřmi beze zbytku, tak k ní připočtěte 3 a pokračujte další iterací (tj. continue).
      alfa += 3
      continue
    elif (alfa % 3) == 0 and (alfa % 6) != 0: #pokud neplatí, ale alfa je dělitelná třemi beze zbytku, ale není dělitelná šesti beze zbytku, tak k ní přičtěte 5
      alfa += 5
    elif (alfa % 6) == 0 and anlfa < 300:
      alfa *= 1.5
    elif alfa >= 100 and alfa <=500:
      alfa = alfa**2
    else:
      alfa += 1

    print('Aktuální číslo je: '+str(alfa))

Aktuální číslo je: 2
Aktuální číslo je: 3
Aktuální číslo je: 8
Aktuální číslo je: 12
Aktuální číslo je: 20
Aktuální číslo je: 24
Aktuální číslo je: 32
Aktuální číslo je: 36
Aktuální číslo je: 44
Aktuální číslo je: 48
Aktuální číslo je: 56
Aktuální číslo je: 60
Aktuální číslo je: 68
Aktuální číslo je: 72
Aktuální číslo je: 80
Aktuální číslo je: 84
Aktuální číslo je: 92
Aktuální číslo je: 96
Aktuální číslo je: 104
Aktuální číslo je: 11449

# Funkce a datové typy

## Funkce pro obdélník

Vytvořte funkci pro výpočet obvodu obdélníka. Funkce má dva vstupní parametry a vrací vypočítanou hodnotu. Pokud je kterýkoliv parametr záporný, tak funkce vrací None. Pokud je funkce volána jen s jedním parametrem, tak se jedná o čtverec a funkce vrátí správný výsledek

In [ ]:
def obvod(a,b=0): # dvouargumentová funkce, b má defaultní hodnotu 0, pokud nebude zadána
  if (a < 0 or b < 0): return None # pokud je a nebo b menší než 0, vrátí None
  if (b==0): b=a # když je b = 0 nastav proměnné b hodnotu a - pak počítá obvod čtverce
  obv = 2*(a+b) # vzorec pro obvod obdélníku
  return obv # vrací hondotu obv

o = obvod(1)
print(o)

4

## Pole a slovníky

Vytvořte pole, jehož jednotlivé položky budou slovníky s číselnými hodnotami pro X a Y, a naplňte ho alespoň pěti položkami. Dané pole projděte cyklem FOR a nad jednotlivými položkami volejte funkci pro výpočet obvodu obdélníka (z předchozího kroku). Získaný obvod vypište, nebo vypište informaci, že obvod nemohl být vypočítán.

In [ ]:
def obvod(a,b=0): # dvouargumentová funkce, b má defaoultní hodnotu 0, pokud nebude zadána
  if (a < 0 or b < 0): return None # pokud je a nebo b menší než 0, vrátí None
  if (b==0): b=a # když je b = 0 nastav proměnné b hodnotu a - pak počítá obvod čtverce
  obv = 2*(a+b) # vzorec pro obvod obdélníku
  return obv # vrací hondotu obv

obdelniky = [
  { "x": 2, "y": 3 },
  { "x": -2, "y": 3 },
  { "x": 2, "y": -3 },
  { "x": 2 },
  { "x": -2 },
]

for x in obdelniky:
   o=obvod(x["x"],x["y"])
   print(o)

10
None
None

KeyError: 'y'

## Set

Využijte set (množinu unikátních hodnot), abyste z následujícího pole dat získali jen unikátní hodnoty (tj. bez opakování), a vypište unikátní hodnoty a informaci, kolik záznamů bylo "odstraněno".
```
data = ["oplatka","motorka","strom","strom","strom","jablko","oplatka","motorka","strom","hrom","oplatka"]
```

In [4]:
# moje řešení

data = ["oplatka","motorka","strom","strom","strom","jablko","oplatka","motorka","strom","hrom","oplatka"]
pred = len(data)
data = set(data)
po = len(data)

print(data)
print('Odstraněno bylo '+str(pred-po)+' prvků seznamu.')

{'strom', 'hrom', 'motorka', 'jablko', 'oplatka'}
Odstraněno bylo 6 prvků seznamu.

In [ ]:
# správné řešení

# vstupní data
data = ["oplatka","motorka","strom","strom","strom","jablko","oplatka","motorka","strom","hrom","oplatka"]
# převod pole na set hodnot
uniq = set(data)
# informace o dostranění
print("Odstraněno:", (len(data) - len(uniq)) )  # vypíše: Odstraněno: 6
# výpis unikátních hodnot
print(uniq)  # vypíše: {'motorka', 'strom', 'jablko', 'hrom', 'oplatka'}

## Nová sekce

 Projděte následující pole dat, určete stáří zvířat v roce 2020 a vypište nejmenší, největší a průměrný věk zvířat (pozor, narození je u zvířete uloženo jako textový řetězec).

```
zvirata = [
  {"jmeno": "lev", "narozen": "2016"},
  {"jmeno": "labuť", "narozen": "2017"},
  {"jmeno": "velbloud", "narozen": "2017"},
  {"jmeno": "rys", "narozen": "2019"},
  {"jmeno": "liška", "narozen": "2018"},
  {"jmeno": "tchoř", "narozen": "2017"},
  {"jmeno": "tučňák", "narozen": "2014"},
  {"jmeno": "straka", "narozen": "2015"},
]
```

In [ ]:
pass